.ErrorPage {
    width: 100%;
}

.ErrorPage>img {
    transform: translate(45%, 0);
}

.error_text {
    text-align: center;
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 500;
    color: #00214f;
}

.ErrorPage>button {
    background-color: rgb(185, 33, 33);
    color: #fff;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    /* transition: all 0.2s linear; */
    border-radius: 8px;
    transform: translate(52.5em, 0);
}

.ErrorPage>button:hover {
    filter: drop-shadow(0 0 5px rgb(185, 33, 33));
    cursor: pointer;
}

.ErrorPage>button:focus {
    box-shadow: 0 0 25px 50px red inset;
}